<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>成员列表</title>
    <link rel="stylesheet" type="text/css" href="../xm/css/css2.css"/>
    <style></style>

</head>
<body>
<div class="box">
    <!--header-->
    <div class="header"></div>
    <!--nav-->
    <div class="nav clearfix" >
        <div class="nav_c clearfix">
            <p class="p1">Roux Meetups</p>

            <p class="p2">
                <a href="http://localhost:3002/home" methods="GET">Home</a>
                <a href="#">Speaker</a>
                <a href="#">Feedback</a>
                <a href="#">Chat</a>
            </p>
        </div>

    </div>

    <!--center-->

    <!--footer-->
    <div class="fot">
        <div class="fot_ce">
            <div class="fot_l">
                <h2>Art in Full Bloom</h2>
                <p>with Lorenzo Farcia</p>
                <div class="d1">
                    <img src="../xm/images/a1.jpg" alt="" />
                    <p class="fe">the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academy the Roux Academy</p>
                    <p>the Roux</p>
                </div>

                <h2>Art in Full Bloom</h2>
                <p>with Lorenzo Farcia</p>
                <div class="d1">
                    <img src="../xm/images/a2.jpg" alt="" />
                    <p class="fe">the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academy the Roux Academy</p>
                    <p>the Roux</p>
                </div>

                <h2>Art in Full Bloom</h2>
                <p>with Lorenzo Farcia</p>
                <div class="d1">
                    <img src="../xm/images/a3.jpg" alt="" />
                    <p class="fe">the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academyemy the Roux Academy</p>
                    <p>the Roux Academy the Roux Academy the Roux Academy</p>
                    <p>the Roux</p>
                </div>

            </div>

            <div class="fot_r">

                <h2>Artwork on display</h2>
                <p>the Roux Academy the Roux Academy</p>
                <p>the Roux Academy the Roux Acemy</p>
                <p id="pp">the Roux Academy the Roux</p>
                <img src="../xm/images/1.jpg"/>
                <img src="../xm/images/2.jpg"/>
                <img src="../xm/images/3.jpg"/>
                <img src="../xm/images/4.jpg"/>
                <img src="../xm/images/5.jpg"/>
                <img src="../xm/images/6.jpg"/>
                <img src="../xm/images/7.jpg"/>
                <img src="../xm/images/8.jpg"/>
                <img src="../xm/images/9.jpg"/>
                <img src="../xm/images/10.jpg"/>
                <img src="../xm/images/11.jpg"/>
                <img src="../xm/images/12.jpg"/>
                <img src="../xm/images/13.jpg"/>
                <img src="../xm/images/14.jpg"/>
                <img src="../xm/images/15.jpg"/>
                <img src="../xm/images/16.jpg"/>
                <img src="../xm/images/17.jpg"/>
            </div>


        </div>

    </div>

</div>
</body>
</html>
<script type="text/javascript" src="../xm/js/js.js"></script>