<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>成员详情a</title>
    <link rel="stylesheet" type="text/css" href="../xm/css/css4.css"/>
    <style></style>

</head>
<body>
<div class="box">
    <!--header-->
    <div class="header"></div>
    <!--nav-->
    <div class="nav clearfix" >
        <div class="nav_c clearfix">
            <p class="p1">Roux Meetups</p>

            <p class="p2">
                <a href="http://localhost:3002/home" methods="GET">Home</a>
                <a href="#">Speaker</a>
                <a href="#">Feedback</a>
                <a href="#">Chat</a>
            </p>
        </div>

    </div>

    <!--center-->

    <!--footer-->
    <div class="fot">
        <div class="fot_ce">
            <div class="fot_l">
                <h2>Art in Full Bloom</h2>
                <p id="ss">with Lorenzo Farcia</p>
                <img src="../xm/images/88.jpg"/>
                <p>the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Academsfs safdghhjemy</p>
                <p>the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Academsfs safdghhjemy</p>
                <p>the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Acadeghhjemy</p>
                <p>the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Academsfs safdghhjemy</p>
                <p>the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Academsfs safdgy</p>
                <p>the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Academsfs safdghhjemy</p>
                <p>the Roux Academy the Rhe Roux Ac Ac</p>

                <p id="p2">the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Academsfs safdgy</p>
                <p>the Roux Academy the Rhe Roux Academy the Roux Acemhe Roux Academsfs safdghhjemy</p>
                <p>the Roux Academyhe Roux Acemhe Roux Ac</p>
            </div>

            <div class="fot_r">

                <h2>Artwork on display</h2>
                <p>the Roux Academy the Roux Academy</p>
                <p>the Roux Academy the Roux Acemy</p>
                <p id="pp">the Roux Academy the Roux</p>
                <img src="../xm/images/1.jpg"/>
                <img src="../xm/images/2.jpg"/>
                <img src="../xm/images/3.jpg"/>
                <img src="../xm/images/4.jpg"/>
                <img src="../xm/images/5.jpg"/>
                <img src="../xm/images/6.jpg"/>
                <img src="../xm/images/7.jpg"/>


            </div>


        </div>

    </div>

</div>
</body>
</html>
<script type="text/javascript" src="../xm/js/js.js"></script>