<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>扶뒬못</title>
    <link href="../xm/css/css.css" rel="stylesheet" type="text/css">
    <style></style>
</head>
<body>
<div class="box">
    <div class="hjl-banner">
        <img src="../xm/images/扶뒬못_01.png">
    </div><!-- banner -->

    <div class="hjl-nav">
        <div class="nav clear">
            <div class="left">
                <p>Roux Meetups</p>
            </div>
            <div class="right">
                <ul>
                    <li><p><a href="http://localhost:3002/home" methods="GET">Home</a> </p></li>
                    <li><a href="http://localhost:3002/cy" methods="GET">Speakers</a> </li>
                    <li><a href="http://localhost:3002/yh" methods="GET">Feedback</a> </li>
                    <li><a href="http://localhost:3002/lt" methods="GET">Chat</a> </li>
                </ul>
            </div>
        </div>
    </div><!-- nav -->

    <div class="hjl-chengyuan">
        <div class="chengyuan clear">
            <div class="c left">
                <a href="http://localhost:3002/xqc" methods="GET">
                <h3>Art in Full Bloom</h3>
                <p>with Lorenzo Garcia</p>
                <img src="../xm/images/c1_04.png"></a>
            </div>
            <div class="c left">
                <a href="http://localhost:3002/xqa" methods="GET">
                <h3>Art in Full Bloom</h3>
                <p>with Lorenzo Garcia</p>
                <img src="../xm/images/c2_04.png"></a>
            </div>
            <div class="c left">
                <a href="http://localhost:3002/xqb" methods="GET">
                <h3>Art in Full Bloom</h3>
                <p>with Lorenzo Garcia</p>
                <img src="../xm/images/c3_04.png"></a>
            </div>
        </div>
    </div><!-- chengyuan -->
    <div class="hjl-flooer">
        <div class="flooer">
            <div class="f left">
                <h2>Who are we?</h2>
                <p>
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                    fsdfsdgfdshhdfvdfiuesheuscuyewuvbsbchs
                </p>
                <h2>Get Busy!</h2>
                <p>
                    asdasdasfsgrtuytyifhtyrthytgyertrgfegt
                    asdasdasfsgrtuytyifhtyrthytgyertrgfegt
                    asdasdasfsgrtuytyifhtyrthytgyertrgfegt
                    asdasdasfsgrtuytyifhtyrthytgyertrgfegt
                </p>
                <h2>Who should come?</h2>
                <p>
                    hgduithrvnduhdrinhvihhunhhhghdurhfuflk<br>
                    hgduithrvnduhdrinhvihhunhhhghdurhfuflk<br>
                    hgduithrvnduhdrinhvihhunhhhghdurhfuflk<br>
                </p>
            </div>
            <div class="f1 right">
                <h2>Who should come?</h2>
                <p>
                    hgduithrvndudrinhvihhunhhdrinhvihhunhhhghddrinhurhfuhghddrinhu<br>rhfuhdrinhvihhu<br>nhhhghddrinhurhfufldrinhk
                    hgduithrvnduhdrinhvdrinhvihhunhhhghddrinhurhfuihhunhhhghddrinh<br>urhfudrinhvihhunhhhghddrinhrinhdurhfuflk
                    hgduithrvnduhdrinhvihhunhhhghdddrinhvihhunhhhghddrinhurhfudrin<br>hvhvihhunhhhghddrinhdrinhurhfuflk
                </p>
                <h2>Artwork on display</h2>
                <p>
                    hgduithrvnduhdrinhvihhunhhhghdddrinhvihhuhhghddrinhurhfudrindfdf<br>
                    hgduithrvnduhdrinhvihhunhhhghdddrinhvihhuhhghddrinhurhfudrindfdf<br>
                    sdfsdfdsf
                </p>
                <div class="pic">
                    <img src="../xm/images/Lorenzo_Garcia_01_tn.jpg">
                    <img src="../xm/images/Lorenzo_Garcia_02_tn.jpg">
                    <img src="../xm/images/Lorenzo_Garcia_03_tn.jpg">
                    <img src="../xm/images/Lorenzo_Garcia_04_tn.jpg">
                    <img src="../xm/images/Hillary_Goldwynn_01_tn.jpg">
                    <img src="../xm/images/Hillary_Goldwynn_02_tn.jpg">
                    <img src="../xm/images/Hillary_Goldwynn_03_tn.jpg">
                    <img src="../xm/images/Hillary_Goldwynn_04_tn.jpg">
                    <img src="../xm/images/Hillary_Goldwynn_05_tn.jpg">
                    <img src="../xm/images/Hillary_Goldwynn_06_tn.jpg">
                    <img src="../xm/images/Hillary_Goldwynn_07_tn.jpg">
                    <img src="../xm/images/Riley_Rewington_01_tn.jpg">
                    <img src="../xm/images/Riley_Rewington_02_tn.jpg">
                    <img src="../xm/images/Riley_Rewington_03_tn.jpg">
                    <img src="../xm/images/Riley_Rewington_04_tn.jpg">
                    <img src="../xm/images/Riley_Rewington_05_tn.jpg">
                    <img src="../xm/images/Riley_Rewington_06_tn.jpg">
                </div>
            </div>
        </div>
    </div><!-- flooer -->
</div>
</body>
</html>